.etusivu h1{
    text-align: center;
    background-color: black;
    color: white;
}
 .etusivu button {
        width:100px;
        height:40px;
        position: relative;
        z-index: 2;
        background: orange; 
}

.etusivu h2 {
    position: relative;
    color: white;
    top: 2%;
}

.etusivu h3 {
    position: relative;
    color: white;
}

.etusivu p {
    position:relative;
    color: white;
}

.etusivu {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image:url(profiili.jpg) no-repeat;
}

.etusivu img{
    position: fixed;
    height: 100%;
    width: 100%;
}


.tietoa{
    padding-top: 4px;

}

.tietoa h1 {
    font-size: 50px;
    text-align: center;
}

.tietoa li {
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ikä p {
    padding-left: 40px;
    font-size: large;
}

.historia h1 {
    text-align: center;
    font-size: 50px;
}

.historia h2 {
    font-size: 30px;
}

.historia li {
font-style: strong;
font-size: 20px;
}

.muut h2 {
    font-size: 30px;
}

.muut li {
    font-size: 20px;
    font-style: strong;
}